<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block meta_description %}{{ META_DESCRIPTION }}{% endblock meta_description %}" />

    {% if article is defined %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@svenkreiss" />
    <meta name="twitter:creator" content="@svenkreiss" />
    <meta name="twitter:title" content="{% block twitter_title %}{{ SITENAME }}{% endblock %}" />
    <meta name="twitter:description" content="{% block twitter_description %}{{ META_DESCRIPTION }}{% endblock %}" />
    <meta name="twitter:image:src" content="{% if article.featured_image %}{{SITEURL}}{{article.featured_image}}{% else %}{{SITEURL}}{{ COVER_IMG_URL }}{% endif %}" />
    <meta name="twitter:domain" content="svenkreiss.com" />

    <meta property="og:title" content="{% block og_title %}{{ SITENAME }}{% endblock %}" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{% block og_description %}{{ META_DESCRIPTION }}{% endblock %}" />
    <meta property="og:image" content="{% if article.featured_image %}{{SITEURL}}{{article.featured_image}}{% else %}{{SITEURL}}{{ COVER_IMG_URL }}{% endif %}" />
    <meta property="og:site_name" content="svenkreiss.com" />
    <meta property="og:url" content="{{SITEURL}}/{{article.url}}" />
    {% endif %}

    {% if FEED_ALL_ATOM %}
        <link rel="alternate"  href="{{FEED_DOMAIN}}/{{FEED_ALL_ATOM}}" type="application/atom+xml" title="{{SITENAME}} Full Atom Feed"/>
    {% endif %}
    {% if FEED_ALL_RSS %}
        <link rel="alternate" href="{{FEED_DOMAIN}}/{{FEED_ALL_RSS}}" type="application/rss+xml" title="{{SITENAME}} Full RSS Feed"/>
    {% endif %}
    {% if FEED_ATOM %}
        <link rel="alternate" href="{{FEED_DOMAIN}}/{{FEED_ATOM}}" type="application/atom+xml" title="{{SITENAME}} Atom Feed"/>
    {% endif %}
    {% if FEED_RSS %}
        <link rel="alternate" href="{{FEED_DOMAIN}}/{{FEED_RSS}}" type="application/rss+xml" title="{{SITENAME}} RSS Feed"/>
    {% endif %}

    {% block head %}
        <title>{% block title %}{{SITENAME}}{% endblock title %}</title>
    {% endblock head %}

    {% if FAVICON %}
    <link href="{{SITEURL}}/{{FAVICON}}" rel="icon">
    {% endif %}

    <!-- KaTeX -->
    {% if USE_LOCAL_ASSETS %}
    <link rel="stylesheet" href="{{SITEURL}}/extras/katex/katex.min.css" />
    <script src="{{SITEURL}}/extras/katex/katex.min.js"></script>
    <script src="{{SITEURL}}/extras/katex/contrib/auto-render.min.js"></script>
    {% else %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta1/katex.min.css" integrity="sha384-VEnyslhHLHiYPca9KFkBB3CMeslnM9CzwjxsEbZTeA21JBm7tdLwKoZmCt3cZTYD" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta1/katex.min.js" integrity="sha384-O4hpKqcplNCe+jLuBVEXC10Rn1QEqAmX98lKAIFBEDxZI0a+6Z2w2n8AEtQbR4CD" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta1/contrib/auto-render.min.js" integrity="sha384-IiI65aU9ZYub2MY9zhtKd1H2ps7xxf+eb2YFG9lX6uRqpXCvBTOidPRCXCrQ++Uc" crossorigin="anonymous"></script>
    {% endif %}

    {% if USE_LOCAL_ASSETS %}
    <link rel="stylesheet" href="{{SITEURL}}/extras/font-awesome/css/font-awesome.min.css" />
    {% else %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />
    {% endif %}
    <link rel="stylesheet" href="{{SITEURL}}/theme/css/pure.css?v=0.1.0" />
    {% block head_css %}{% endblock %}

    <!-- for pelican_dynamic plugin -->
    {% if article %}
        {% if article.styles %}
            {% for style in article.styles %}
    {{ style }}
            {% endfor %}
        {% endif %}
    {% endif %}
    <!-- end pelican_dynamic -->

    {% block head_js %}{% endblock %}
</head>

<body>
    {% block content %}
    {% endblock %}
    <script>
        renderMathInElement(document.body);
    </script>

    <!-- for pelican_dynamic plugin -->
    {% if article %}
        {% if article.scripts %}
            {% for script in article.scripts %}
    {{ script }}
            {% endfor %}
        {% endif %}
    {% endif %}

    {% include 'analytics.html' %}
</body>
</html>
