<section class="post">
    <header class="post-header">
        {% if article.featured_image %}
            <img class="featured image-process-thumb" src="{{ article.featured_image }}" alt="featured image for {{ article.title }}" />
        {% endif %}

        <h3><a class="post-title" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
        <p class="post-meta">
            {{ article.summary|striptags }}
        </p>
        <p class="post-meta">
            in <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a> &middot; {{ article.locale_date }}
        </p>
    </header>
</section>
